<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Addresses</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-2" v-bind="attrs" v-on="on">{{
                      newItemText
                    }}</v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.street"
                            label="Street"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.city"
                            label="City"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.postalCode"
                            label="Postal code"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.phone"
                            label="Phone"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.email"
                            label="eMail"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.latitude"
                            label="Latitude"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.longitude"
                            label="Longitude"
                          ></v-text-field>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn color="primary" text @click="saveAddress"
                        >Save</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete this
                      question?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete ALL the selected
                      questions?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.street="{ item }">
              <v-edit-dialog
                :return-value.sync="item.street"
                @save="updateAddress(item)"
                large
              >
                {{ item.street }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.street"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.city="{ item }">
              <v-edit-dialog
                :return-value.sync="item.city"
                @save="updateAddress(item)"
                large
              >
                {{ item.city }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.city"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.postalCode="{ item }">
              <v-edit-dialog
                :return-value.sync="item.postalCode"
                @save="updateAddress(item)"
                large
              >
                {{ item.postalCode }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.postalCode"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.phone="{ item }">
              <v-edit-dialog
                :return-value.sync="item.phone"
                @save="updateAddress(item)"
                large
              >
                {{ item.phone }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.phone"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.email="{ item }">
              <v-edit-dialog
                :return-value.sync="item.email"
                @save="updateAddress(item)"
                large
              >
                {{ item.email }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.email"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.latitude="{ item }">
              <v-edit-dialog
                :return-value.sync="item.latitude"
                @save="updateAddress(item)"
                large
              >
                {{ item.latitude }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.latitude"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.longitude="{ item }">
              <v-edit-dialog
                :return-value.sync="item.longitude"
                @save="updateAddress(item)"
                large
              >
                {{ item.longitude }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.longitude"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="openItemDialog(item)"
                >mdi-pencil</v-icon
              >
              <v-icon small class="mr-2" @click="deleteItemDialog(item)"
                >mdi-delete</v-icon
              >
            </template>

            <template v-slot:footer="{ props: { pagination } }">
              <div class="v-data-footer">
                <v-btn
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                  >DELETE ALL</v-btn
                >
                <v-spacer></v-spacer>
                <v-pagination
                  v-model="pagination.page"
                  circle
                  :length="pagination.pageCount"
                  total-visible="5"
                />
                <v-spacer></v-spacer>
              </div>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class AddressesComponent extends Mixins(DataTable) {
  phaseId = this.$route.params.phaseId;
  personId = this.$route.params.personId;

  pathGet = `/praxis/persons/${this.personId}/addresses`;
  pathCreate = `/praxis/addresses`;
  pathUpdate = `/praxis/addresses`;
  pathDelete = `/praxis/addresses`;

  breadcrumbs = [
    {
      text: "Phases",
      disabled: false,
      exact: true,
      to: "/phases",
    },
    {
      text: "Persons",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/persons",
    },
    {
      text: "Addresses",
      disabled: true,
    },
  ];

  keyIdentifier = "addressId";
  editedItem = {
    addressId: -1,
    personId: this.personId,
    street: "",
    city: "",
    postalCode: "",
    phone: "",
    email: "",
    latitude: "",
    longitude: "",
  };
  defaultItem = {
    addressId: -1,
    personId: this.personId,
    street: "",
    city: "",
    postalCode: "",
    phone: "",
    email: "",
    latitude: "",
    longitude: "",
  };

  newItemText = "New Address";
  editItemText = "Edit Address";
  itemSuccessfullyCreatedText = "Address successfully created.";
  itemSuccessfullyUpdatedText = "Address successfully updated.";
  itemSuccessfullyDeletedText = "Address successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "addressId",
    },
    {
      text: "Street",
      value: "street",
    },
    {
      text: "City",
      value: "city",
    },
    {
      text: "Postal code",
      value: "postalCode",
    },
    {
      text: "Phone",
      value: "phone",
    },
    {
      text: "eMail",
      value: "email",
    },
    {
      text: "Latitude",
      value: "latitude",
    },
    {
      text: "Longitude",
      value: "longitude",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "80px",
    },
  ];

  saveAddress() {
    return this.saveItem(this.editedItem.addressId, {
      addressId: this.editedItem.addressId,
      personId: this.editedItem.personId,
      street: this.editedItem.street ?? "",
      city: this.editedItem.city ?? "",
      postalCode: this.editedItem.postalCode ?? "",
      phone: this.editedItem.phone ?? "",
      email: this.editedItem.email ?? "",
      latitude: this.editedItem.latitude ?? "",
      longitude: this.editedItem.longitude ?? "",
    });
  }

  updateAddress(item: any) {
    return this.updateItem(item.addressId, {
      addressId: item.addressId,
      personId: item.personId,
      street: item.street ?? "",
      city: item.city ?? "",
      postalCode: item.postalCode ?? "",
      phone: item.phone ?? "",
      email: item.email ?? "",
      latitude: item.latitude ?? "",
      longitude: item.longitude ?? "",
    });
  }
}
</script>
