<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Entries</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-2" v-bind="attrs" v-on="on">{{
                      newItemText
                    }}</v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.de"
                            label="Title (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.en"
                            label="Title (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.body.de"
                            label="Body (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.body.en"
                            label="Body (EN)"
                          ></v-textarea>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn color="primary" text @click="saveEntry"
                        >Save</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete this entry?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete ALL the selected entries?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.title.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.de"
                @save="updateEntry(item)"
                large
              >
                {{ item.title.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.title.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.en"
                @save="updateEntry(item)"
                large
              >
                {{ item.title.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.body.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.body.de"
                @save="updateEntry(item)"
                large
              >
                {{ item.body.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.body.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.body.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.body.en"
                @save="updateEntry(item)"
                large
              >
                {{ item.body.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.body.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="openItemDialog(item)"
                >mdi-pencil</v-icon
              >
              <v-icon small class="mr-2" @click="deleteItemDialog(item)"
                >mdi-delete</v-icon
              >
            </template>

            <template v-slot:footer="{ props: { pagination } }">
              <div class="v-data-footer">
                <v-btn
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                  >DELETE ALL</v-btn
                >
                <v-spacer></v-spacer>
                <v-pagination
                  v-model="pagination.page"
                  circle
                  :length="pagination.pageCount"
                  total-visible="5"
                />
                <v-spacer></v-spacer>
              </div>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class PhasesComponent extends Mixins(DataTable) {
  phaseId = this.$route.params.phaseId;
  groupId = this.$route.params.groupId;
  unitId = this.$route.params.unitId;

  pathGet = `/praxis/units/${this.unitId}/entries`;
  pathCreate = `/praxis/entries`;
  pathUpdate = `/praxis/entries`;
  pathDelete = `/praxis/entries`;

  breadcrumbs = [
    {
      text: "Phases",
      disabled: false,
      exact: true,
      to: "/phases",
    },
    {
      text: "Groups",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/groups",
    },
    {
      text: "Units",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/groups/" + this.groupId + "/units",
    },
    {
      text: "Entries",
      disabled: true,
    },
  ];

  keyIdentifier = "entryId";
  editedItem = {
    entryId: -1,
    unitId: this.unitId,
    title: {
      de: "",
      en: "",
    },
    body: {
      de: "",
      en: "",
    },
    orderBy: -1,
    dependsOn: -1,
  };
  defaultItem = {
    entryId: -1,
    unitId: this.unitId,
    title: {
      de: "",
      en: "",
    },
    body: {
      de: "",
      en: "",
    },
    orderBy: -1,
    dependsOn: -1,
  };

  newItemText = "New Entry";
  editItemText = "Edit Entry";
  itemSuccessfullyCreatedText = "Entry successfully created.";
  itemSuccessfullyUpdatedText = "Entry successfully updated.";
  itemSuccessfullyDeletedText = "Entry successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "entryId",
    },
    {
      text: "Title (DE)",
      value: "title.de",
    },
    {
      text: "Title (EN)",
      value: "title.en",
    },
    {
      text: "Body (DE)",
      value: "body.de",
    },
    {
      text: "Body (EN)",
      value: "body.en",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "80px",
    },
  ];

  saveEntry() {
    return this.saveItem(this.editedItem.entryId, {
      entryId: this.editedItem.entryId,
      unitId: this.editedItem.unitId,
      titleDe: this.editedItem.title.de ?? "",
      titleEn: this.editedItem.title.en ?? "",
      bodyDe: this.editedItem.body.de ?? "",
      bodyEn: this.editedItem.body.en ?? "",
      orderBy: this.editedItem.orderBy ?? this.items.length,
      dependsOn: this.editedItem.dependsOn ?? -1,
    });
  }

  updateEntry(item: any) {
    return this.updateItem(item.entryId, {
      entryId: item.entryId,
      unitId: item.unitId,
      titleDe: item.title.de ?? "",
      titleEn: item.title.en ?? "",
      bodyDe: item.body.de ?? "",
      bodyEn: item.body.en ?? "",
      orderBy: item.orderBy,
      dependsOn: item.dependsOn ?? -1,
    });
  }
}
</script>
