<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Phases</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-2" v-bind="attrs" v-on="on">{{
                      newItemText
                    }}</v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.de"
                            label="Title (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.title.en"
                            label="Title (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.description.de"
                            label="Description (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.description.en"
                            label="Description (EN)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.faqUrl"
                            label="FAQ (URL)"
                          ></v-text-field>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn color="primary" text @click="savePhase(editedItem)"
                        >Save</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete this phase?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete ALL the selected phases?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.title.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.de"
                @save="updatePhase(item)"
                large
              >
                {{ item.title.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.title.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.title.en"
                @save="updatePhase(item)"
                large
              >
                {{ item.title.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.title.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.description.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.description.de"
                @save="updatePhase(item)"
                large
              >
                {{ item.description.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.description.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.description.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.description.en"
                @save="updatePhase(item)"
                large
              >
                {{ item.description.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.description.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.faqUrl="{ item }">
              <v-edit-dialog
                :return-value.sync="item.faqUrl"
                @save="updatePhase(item)"
                large
              >
                {{ item.faqUrl }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.faqUrl"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.groups="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path: '/phases/' + item.phaseId + '/groups',
                }"
                >Show GROUPS ({{
                  item.groups == undefined ? 0 : item.groups.length
                }})</v-btn
              >
            </template>

            <template v-slot:item.persons="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path: '/phases/' + item.phaseId + '/persons',
                }"
                >Show PERSONS ({{
                  item.persons == undefined ? 0 : item.persons.length
                }})</v-btn
              >
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="openItemDialog(item)"
                >mdi-pencil</v-icon
              >
              <v-icon small class="mr-2" @click="deleteItemDialog(item)"
                >mdi-delete</v-icon
              >
            </template>

            <template v-slot:footer="{ props: { pagination } }">
              <div class="v-data-footer">
                <v-btn
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                  >DELETE ALL</v-btn
                >
                <v-spacer></v-spacer>
                <v-pagination
                  v-model="pagination.page"
                  circle
                  :length="pagination.pageCount"
                  total-visible="5"
                />
                <v-spacer></v-spacer>
              </div>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class PhasesComponent extends Mixins(DataTable) {
  pathGet = "/praxis/phases";
  pathCreate = "/praxis/phases";
  pathUpdate = "/praxis/phases";
  pathDelete = "/praxis/phases";

  breadcrumbs = [
    {
      text: "Phases",
      disabled: true,
    },
  ];

  keyIdentifier = "phaseId";
  editedItem = {
    phaseId: -1,
    title: {
      de: "",
      en: "",
    },
    description: {
      de: "",
      en: "",
    },
    faqUrl: "",
    categoryId: null,
    visible: false,
  };
  defaultItem = {
    phaseId: -1,
    title: {
      de: "",
      en: "",
    },
    description: {
      de: "",
      en: "",
    },
    faqUrl: "",
    categoryId: null,
    visible: false,
  };

  newItemText = "New Phase";
  editItemText = "Edit Phase";
  itemSuccessfullyCreatedText = "Phase successfully created.";
  itemSuccessfullyUpdatedText = "Phase successfully updated.";
  itemSuccessfullyDeletedText = "Phase successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "phaseId",
    },
    {
      text: "Title (DE)",
      value: "title.de",
    },
    {
      text: "Title (EN)",
      value: "title.en",
    },
    {
      text: "Description (DE)",
      value: "description.de",
    },
    {
      text: "Description (EN)",
      value: "description.en",
    },
    {
      text: "FAQ (URL)",
      value: "faqUrl",
    },
    {
      text: "Category (ID)",
      value: "categoryId",
    },
    {
      text: "Groups",
      align: "end",
      value: "groups",
    },
    {
      text: "Persons",
      align: "end",
      value: "persons",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "80px",
    },
  ];

  savePhase() {
    return this.saveItem(this.editedItem.phaseId, {
      phaseId: this.editedItem.phaseId,
      titleDe: this.editedItem.title.de ?? "",
      titleEn: this.editedItem.title.en ?? "",
      descriptionDe: this.editedItem.description.de ?? "",
      descriptionEn: this.editedItem.description.en ?? "",
      faqUrl: this.editedItem.faqUrl ?? "",
      categoryId: this.editedItem.categoryId,
      visible: this.editedItem.visible ?? false,
    });
  }

  updatePhase(item: any) {
    return this.updateItem(item.phaseId, {
      phaseId: item.phaseId,
      titleDe: item.title.de ?? "",
      titleEn: item.title.en ?? "",
      descriptionDe: item.description.de ?? "",
      descriptionEn: item.description.en ?? "",
      faqUrl: item.faqUrl ?? "",
      categoryId: item.categoryId,
      visible: item.visible ?? false,
    });
  }
}
</script>
