<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-layout child-flex>
          <v-data-table
            :expanded.sync="expanded"
            :footer-props="footerProps"
            :headers="headers"
            :items-per-page="10"
            :items="items"
            :pagination.sync="pagination"
            :search="search"
            :item-key="keyIdentifier"
            show-select
            v-model="selected"
            child-flex
          >
            <template v-slot:top>
              <v-toolbar flat>
                <v-toolbar-title>Questions</v-toolbar-title>
                <v-divider class="mx-4" inset vertical></v-divider>
                <v-spacer></v-spacer>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
                <v-spacer></v-spacer>
                <v-dialog v-model="dialog" max-width="1000px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn class="mb-2" v-bind="attrs" v-on="on">{{
                      newItemText
                    }}</v-btn>
                  </template>
                  <v-card>
                    <v-card-title>
                      <span class="headline">{{ formTitle() }}</span>
                    </v-card-title>

                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.body.de"
                            label="Body (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.body.en"
                            label="Body (EN)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.bodyCorrect.de"
                            label="Body correct (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.bodyCorrect.en"
                            label="Body correct (EN)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.bodyWrong.de"
                            label="Body wrong (DE)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-textarea
                            v-model="editedItem.bodyWrong.en"
                            label="Body wrong (EN)"
                          ></v-textarea>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.image"
                            label="Image (URL)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.imageAlt.de"
                            label="Image ALT (DE)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.imageAlt.en"
                            label="Image ALT (EN)"
                          ></v-text-field>
                        </v-row>
                        <v-row>
                          <v-text-field
                            v-model="editedItem.correctAnswerId"
                            label="Correct Answer ID"
                          ></v-text-field>
                        </v-row>
                      </v-container>
                    </v-card-text>

                    <v-card-actions>
                      <v-btn color="secondary" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn color="primary" text @click="saveQuestion"
                        >Save</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItem" max-width="520px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete this
                      question?</v-card-title
                    >
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDeleteItems" max-width="670px">
                  <v-card>
                    <v-card-title class="headline"
                      >Are you sure you want to delete ALL the selected
                      questions?
                    </v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" text @click="closeDialog"
                        >Cancel</v-btn
                      >
                      <v-btn
                        color="blue darken-1"
                        text
                        @click="deleteItemsConfirm"
                        >OK</v-btn
                      >
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar>
            </template>

            <template v-slot:item.body.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.body.de"
                @save="updateQuestion(item)"
                large
              >
                {{ item.body.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.body.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.body.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.body.en"
                @save="updateQuestion(item)"
                large
              >
                {{ item.body.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.body.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.bodyCorrect.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.bodyCorrect.de"
                @save="updateQuestion(item)"
                large
              >
                {{ item.bodyCorrect.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.bodyCorrect.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.bodyCorrect.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.bodyCorrect.en"
                @save="updateQuestion(item)"
                large
              >
                {{ item.bodyCorrect.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.bodyCorrect.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.bodyWrong.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.bodyWrong.de"
                @save="updateQuestion(item)"
                large
              >
                {{ item.bodyWrong.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.bodyWrong.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.bodyWrong.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.bodyWrong.en"
                @save="updateQuestion(item)"
                large
              >
                {{ item.bodyWrong.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.bodyWrong.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.image="{ item }">
              <v-edit-dialog
                :return-value.sync="item.image"
                @save="updateQuestion(item)"
                large
              >
                {{ item.image }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.image"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.imageAlt.de="{ item }">
              <v-edit-dialog
                :return-value.sync="item.imageAlt.de"
                @save="updateQuestion(item)"
                large
              >
                {{ item.imageAlt.de }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.imageAlt.de"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.imageAlt.en="{ item }">
              <v-edit-dialog
                :return-value.sync="item.imageAlt.en"
                @save="updateQuestion(item)"
                large
              >
                {{ item.imageAlt.en }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.imageAlt.en"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.correctAnswerId="{ item }">
              <v-edit-dialog
                :return-value.sync="item.correctAnswerId"
                @save="updateQuestion(item)"
                large
              >
                {{ item.correctAnswerId }}
                <template v-slot:input>
                  <v-text-field
                    v-model="item.correctAnswerId"
                    label="Edit"
                    single-line
                    counter
                    autofocus
                  ></v-text-field>
                </template>
              </v-edit-dialog>
            </template>

            <template v-slot:item.answers="{ item }">
              <v-btn
                color="primary"
                :to="{
                  path:
                    '/phases/' +
                    phaseId +
                    '/groups/' +
                    groupId +
                    '/units/' +
                    unitId +
                    '/questions/' +
                    item.questionId +
                    '/answers',
                }"
                >Show Answers ({{
                  item.answers == undefined ? 0 : item.answers.length
                }})</v-btn
              >
            </template>

            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="openItemDialog(item)"
                >mdi-pencil</v-icon
              >
              <v-icon small class="mr-2" @click="deleteItemDialog(item)"
                >mdi-delete</v-icon
              >
            </template>

            <template v-slot:footer="{ props: { pagination } }">
              <div class="v-data-footer">
                <v-btn
                  color="error"
                  :disabled="selected.length <= 0"
                  @click="deleteItemsDialog"
                  >DELETE ALL</v-btn
                >
                <v-spacer></v-spacer>
                <v-pagination
                  v-model="pagination.page"
                  circle
                  :length="pagination.pageCount"
                  total-visible="5"
                />
                <v-spacer></v-spacer>
              </div>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>

    <v-snackbar v-model="snack" :color="snackColor">
      {{ snackText }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snack = false">Dismiss</v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import { Component, Mixins } from "vue-mixin-decorator";
import DataTable from "../mixins/DataTable";

@Component
export default class PhasesComponent extends Mixins(DataTable) {
  phaseId = this.$route.params.phaseId;
  groupId = this.$route.params.groupId;
  unitId = this.$route.params.unitId;

  pathGet = `/praxis/units/${this.unitId}/questions`;
  pathCreate = `/praxis/questions`;
  pathUpdate = `/praxis/questions`;
  pathDelete = `/praxis/questions`;

  breadcrumbs = [
    {
      text: "Phases",
      disabled: false,
      exact: true,
      to: "/phases",
    },
    {
      text: "Groups",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/groups",
    },
    {
      text: "Units",
      disabled: false,
      exact: true,
      to: "/phases/" + this.phaseId + "/groups/" + this.groupId + "/units",
    },
    {
      text: "Questions",
      disabled: true,
    },
  ];

  keyIdentifier = "questionId";
  editedItem = {
    questionId: -1,
    unitId: this.unitId,
    body: {
      de: "",
      en: "",
    },
    bodyCorrect: {
      de: "",
      en: "",
    },
    bodyWrong: {
      de: "",
      en: "",
    },
    image: "",
    imageAlt: {
      de: "",
      en: "",
    },
    correctAnswerId: null,
  };
  defaultItem = {
    questionId: -1,
    unitId: this.unitId,
    body: {
      de: "",
      en: "",
    },
    bodyCorrect: {
      de: "",
      en: "",
    },
    bodyWrong: {
      de: "",
      en: "",
    },
    image: "",
    imageAlt: {
      de: "",
      en: "",
    },
    correctAnswerId: null,
  };

  newItemText = "New Question";
  editItemText = "Edit Question";
  itemSuccessfullyCreatedText = "Question successfully created.";
  itemSuccessfullyUpdatedText = "Question successfully updated.";
  itemSuccessfullyDeletedText = "Question successfully deleted.";

  headers = [
    {
      text: "ID",
      align: "start",
      value: "questionId",
    },
    {
      text: "Body (DE)",
      value: "body.de",
    },
    {
      text: "Body (EN)",
      value: "body.en",
    },
    {
      text: "Body correct (DE)",
      value: "bodyCorrect.de",
    },
    {
      text: "Body correct (EN)",
      value: "bodyCorrect.en",
    },
    {
      text: "Body wrong (DE)",
      value: "bodyWrong.de",
    },
    {
      text: "Body wrong (EN)",
      value: "bodyWrong.en",
    },
    {
      text: "Image",
      value: "image",
    },
    {
      text: "Image Alt (DE)",
      value: "imageAlt.de",
    },
    {
      text: "Image Alt (EN)",
      value: "imageAlt.en",
    },
    {
      text: "Correct Answer ID",
      value: "correctAnswerId",
    },
    {
      text: "Answers",
      align: "end",
      value: "answers",
    },
    {
      text: "Actions",
      align: "end",
      value: "actions",
      sortable: false,
      width: "80px",
    },
  ];

  saveQuestion() {
    return this.saveItem(this.editedItem.questionId, {
      questionId: this.editedItem.questionId,
      unitId: this.editedItem.unitId,
      bodyDe: this.editedItem.body.de ?? "",
      bodyEn: this.editedItem.body.en ?? "",
      bodyCorrectDe: this.editedItem.bodyCorrect.de ?? "",
      bodyCorrectEn: this.editedItem.bodyCorrect.en ?? "",
      bodyWrongDe: this.editedItem.bodyWrong.de ?? "",
      bodyWrongEn: this.editedItem.bodyWrong.en ?? "",
      image: this.editedItem.image ?? "",
      imageAltDe: this.editedItem.imageAlt.de ?? "",
      imageAltEn: this.editedItem.imageAlt.en ?? "",
      correctAnswerId: this.editedItem.correctAnswerId,
    });
  }

  updateQuestion(item: any) {
    return this.updateItem(item.questionId, {
      questionId: item.questionId,
      unitId: item.unitId,
      bodyDe: item.body.de ?? "",
      bodyEn: item.body.en ?? "",
      bodyCorrectDe: item.bodyCorrect.de ?? "",
      bodyCorrectEn: item.bodyCorrect.en ?? "",
      bodyWrongDe: item.bodyWrong.de ?? "",
      bodyWrongEn: item.bodyWrong.en ?? "",
      image: item.image ?? "",
      imageAltDe: item.imageAlt.de ?? "",
      imageAltEn: item.imageAlt.en ?? "",
      correctAnswerId: item.correctAnswerId,
    });
  }
}
</script>
