<!--
 - Copyright 2021 Gisa von Marcard
 -
 - Licensed under the EUPL, Version 1.2 or – as soon they
 - will be approved by the European Commission - subsequent
 - versions of the EUPL (the "Licence");
 - You may not use this work except in compliance with the
 - Licence.
 - You may obtain a copy of the Licence at:
 -
 - https://joinup.ec.europa.eu/software/page/eupl
 -
 - Unless required by applicable law or agreed to in
 - writing, software distributed under the Licence is
 - distributed on an "AS IS" basis,
 - WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 - express or implied.
 - See the Licence for the specific language governing
 - permissions and limitations under the Licence.
 -->
<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app clipped>
      <v-list dense>
        <v-list-item router-link to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item router-link to="/phases">
          <v-list-item-action>
            <v-icon>mdi-alpha-p-circle-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Phases</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          router-link
          href="https://www.thm.de/site/datenschutz.html"
          target="_blank"
        >
          <v-list-item-action>
            <v-icon>mdi-shield-lock</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Datenschutz</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item
          router-link
          href="https://www.thm.de/site/impressum.html"
          target="_blank"
        >
          <v-list-item-action>
            <v-icon>mdi-information</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Impressum</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>tinyCampus - Praxis Frontend</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>

    <v-footer app>
      <span>
        &copy; 2021 Gisa von Marcard - Licensed under the
        <a
          href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12"
          target="_blank"
          >EUPL 1.2 or later</a
        >
        - Source code under
        <a href="https://git.thm.de/kim-team/tc-pp-frontend" target="_blank"
          >https://git.thm.de/kim-team/tc-pp-frontend</a
        >
      </span>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",

  data: () => ({
    drawer: true,
  }),

  watch: {
    $route(to) {
      document.title = to.name || "tinyCampus";
    },
  },
  mounted() {
    console.log(process.env);
  },
});
</script>
